<%- include header %>

	<% if(posts.length > 0){ %>
		<% posts.forEach(function(post,index){ %>
			<div class="post-contents">
				<h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
				<p>
					作者:<a href="/u/<%= post.name %>"><%= post.name %></a>| 
					日期:<%= post.time.minutes %>
				</p>
				<p><%- post.post %></p>
			</div>
		<% }) %>
	<% } else { %>
		<p>啊哦,暂时没有记录啊!

		<% if(!user){ %>
			快去<a href="/reg">注册</a>或<a href="/login">登录</a>发表吧!
		<% } %>
		</p>
	<% } %>
<%- include paging%>
<%- include footer%>