<%- include header %>
	<%if (posts.length > 0) {%>
		<p></p>
		<% posts.forEach(function(post,index){ %>
			<div class="post-contents">
				<h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
				<p>
					作者:<a href="/u/<%= post.name %>"><%= post.name %></a>| 
					日期:<%= post.time.minutes %>
				</p>
				<p><%- post.post %></p>
			</div>
		<% }) %>
		<% } else { %>
			<p>这个家伙很懒,还没发表过呢!</p>
		<% } %>
<%- include paging%>
<%- include footer%>